<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <%- include('partials/nav') %>
        <center>

            <h3>What is this website about ?🤔</h3>
            <p id="what">Welcome to Game shark🦈 - your go-to source for the best game deals on the web! We're
                passionate about gaming and dedicated to making it easy for you to find the most affordable prices
                across different websites. Our mission is simple: to help you save money while enjoying your favorite
                games. Explore our user-friendly platform, compare deals effortlessly, and game on without burning a
                hole in your pocket! Welcome to gaming, welcome to savings, welcome to Game shark🦈!</p>
            <h3>Tools used by us🔧 </h3>
            <div id="tools">
                <span class="space">Cheapshark API</span>
            </div>
            <h3 id="team">Created by👷-</h3>
            <div id="tools" class="names">
            <li>Ridhi</li>
            </div>

        </center>
</body>
</html>
