* {
    font-family: Poppins, sans-serif;
}
html{
    text-align: center;
    background: #1b262c;
    color: wheat;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('assets/bgimg3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}


body {
    font-size: 1.5em;
  }
#mainn{
    opacity: 1;
    z-index: 1;
}

#cardContainer{
    background-image: url('assets/bgimg3.jpg');
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav{
    display: block;
    padding: 1rem;
}
#nav a {
        font-weight: 700;
        
        color: #2977ab;
        
        padding: 0.667rem;
        text-decoration: none;
}

h1{
    color: #fdcb9e;
}
.card {

    background-color: #3b2e5a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    margin: 10px;
    transition: all .2s;
}
.card:hover{
    transform: translateY(-5px);
    background: #00005c;
}

.card h3 {
    font-size: 18px;
}

.card p {
    font-size: 14px;
}

.button {
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 10px;
}

.game-thumbnail {
    width: 100%;
    height: auto;
}

#start_m{
    color: #bdccd4fa;
}

#nav #searcha{
    color:#00B7C2;
}

#nav #icon2,#icon3{
    display: none;
}

#gamename{
    background-color: #1b262c;
    color: #fdcb9e;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #00b7c2;
    background: transparent;
    transition: .2s;
    padding: 0.667rem;
    width: 20%;
}

#gamename:hover{
    border-top: 2px solid #00b7c2;
    border-right: 2px solid #00b7c2;
    border-left: 2px solid #00b7c2;
    border-radius: 5px;
    cursor: pointer;
}

#search{
    border: none;
    background: #00b7c2;
    color: #1b262c;
    border-radius: 15px;
    padding: 0.367rem;
    width: 80px;
    margin-left: 10px;
    transition: .2s;
}

#search:hover{
    background: #fdcb9e;
    cursor: pointer;
    transform: translateY(-2px);
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }
  
  .ripple:active:after {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
  }

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -91%);
    text-align: center;
    color: white;
    z-index: 1;
}

#searchcontain{
    display: none;
}

#searcha #storea #abouta{
    transition: all 0.3s;
}
#storea:hover{
    transform: translateY(10px);
    border-bottom: #4CAF50 solid 1px;
}